{% extends 'base.twig' %}

{% block content %}
    <a id="article-anch anch"></a>

    <div class="content-wrapper article_content" xmlns="http://www.w3.org/1999/html">


        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}} container-fluid">
            <a id="article-anch anch"></a>
            <h1 class="loop-title">A l'affiche !</h1>
            <div class="article-loop container-fluid">
                {% for show in shows %}
                    {% if show.get_field('dispo') %}
                        <div class="show show2 show3 show-medal row">
                            <a class="row" href="{{ show.link }}">
                                <div class="offset-md-3"></div>
                                <div class="thumb-medal2 col-md-6">

                                    <img src="{{show.thumbnail.src}}" alt="affiche">

                                </div>
                                <div class="offset-md-3"></div>
                                <div class="bloc2 col-md-12">

                                    <h1 class="h1-event">
                                        <span>
                                            {{ show.title }}
                                        </span>
                                    </h1>

                                    <div class="preview">
                                        <p class="info ">
                                            {{ show.get_field('field_5cb19e8a1f92d') }}
                                        </p>
                                        <p class="preview-content">
                                        {{ show.preview.read_more('').length(20) }}
                                        </p>
                                    </div>
                                    <p class="info">
                                        durée: {{ show.get_field('field_5cb19fe0cd2c3') }} mn env.
                                    </p>
                                    <p class="info ">A partir de: {{ show.get_field('field_5cb19f4acd2c1') }} ans</p>
                                </div>

                                
                            </a>

                        {% for event in events %}
                            {% if show.get_field('field_5cbc31c7f2c13') == event.get_field('field_5cbc31c7f2c13') %}

                                <h4 class="next-date next-date3">PROCHAINES REPRÉSENTATIONS</h4>

                                <section class="event-home-bloc container">

                                    <a class="row event-home" href="{{ event.link }}">
                                        <div class="thumb thumb2 col-md-3">
                                            <img src="{{ show.thumbnail.src }}" alt="thumb">
                                        </div>
                                        <p class="col-md-3">{{ event.get_field('field_5cb4d81344d45') }}</p>
                                        <p class="col-md-3">{{ event.get_field('field_5cb4e5ba17780') }}</p>
                                        <p class="col-md-3">{{ event.get_field('field_5cb4e62317783') }} {{ event.get_field('field_5cb4e63d17784') }}</p>
                                    </a>
                                </section>


                                {% endif %}
                            {% endfor %}

                            
                        </div>
                    {% endif %}




                {% endfor %}


            </div>


            <h1 class="loop-title">Ancien Spectacles</h1>
            <div class="article-loop container">

                {% for show in shows %}

                    {% if show.get_field('dispo')==false  %}

                        <div class="show old-show">
                            <a class="row" href="{{ show.link }}">
                                <div class="thumb-medal col-md-4">
                                    <img src="{{show.thumbnail.src}}" alt="affiche" class="affiche">
                                </div>
                                <h1 class="h1-event h1-event2 col-md-8">
                                    <span>
                                        {{ show.title }}
                                    </span>
                                </h1>

                                <div class="offset-md-2"></div>
                                <p class="col-md-10">
                                    {{ show.preview.read_more('') }}
                                </p>
                            </a>
                        </div>

                    {% endif %}

                {% endfor %}

            </div>


        </article>

    </div>

    <!-- /content-wrapper -->


{% endblock %}
