{% extends 'base.twig' %}

{% block content %}

    <div class="content-wrapper article_content" xmlns="http://www.w3.org/1999/html">


        <article class="post-type-{{post.post_type}}" id="post-{{post.ID}} container-fluid">
            <h1 class="loop-title">A l'affiche !</h1>
            <div class="article-loop container">
                {% for show in shows %}
                    {% if show.get_field('dispo') %}
                        <div class="show row">
                            <a class="row" href="{{ show.link }}">

                                <h1 class="h1-medal col-12">
                                    {{ show.title }}
                                </h1>

                                <div class="thumb-medal col-md-4">
                                    <img src="{{show.thumbnail.src}}" alt="affiche" class="affiche">
                                </div>
                                <p class="col-md-6">
                                    {{ show.preview.read_more('') }}
                                </p>
                                <div class="offset-md-6"></div>
                                <p class="col-md-6 dispo">
                                    <span>A l'Affiche</span>
                                </p>
                                <p class="col-6">A partir de: {{ show.get_field('field_5cb19f4acd2c1') }} ans</p>
                                <p class="col-6">
                                    du {{ show.get_field('field_5cb1e19399290') }} au {{ show.get_field('field_5cb1e23b477ab') }}
                                </p>
                                <p class="col-6">
                                    {{ show.get_field('field_5cb19e8a1f92d') }}
                                </p>
                                <p class="col-6">
                                    durée: {{ show.get_field('field_5cb19fe0cd2c3') }} mn env.
                                </p>
                            </a>

                        </div>


                    {% endif %}

                {% endfor %}


            </div>


            <h1 class="loop-title">Ancien Spectacles</h1>
            <div class="article-loop container">

                {% for show in shows %}

                    {% if show.get_field('dispo')==false  %}

                        <div class="show">
                            <a class="row" href="{{ show.link }}">

                                <h1 class="h1-medal col-12">
                                    {{ show.title }}
                                </h1>

                                <div class="thumb-medal col-4">
                                    <img src="{{show.thumbnail.src}}" alt="affiche" class="affiche">
                                </div>
                                <p class="col-8">
                                    {{ show.preview.read_more('') }}
                                </p>
                            </a>
                        </div>

                    {% endif %}

                {% endfor %}

            </div>


        </article>

    </div>

    <!-- /content-wrapper -->


{% endblock %}
